<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nysxzs.review408.demos.dao.UserDao">
    <select id="listUser" resultType="top.nysxzs.review408.demos.pojo.User">
        select id,username,enScore,pcoScore,sqlScore from user where username=#{username} and password=#{password};
    </select>
    <update id="updateLoginTime">
        update user set enlastchangetime=#{lastLoginTime},lastLoginTime=#{lastLoginTime},timeout=#{lastLoginTime}+86400000,token=#{token} where username=#{username};
    </update>
    <select id="checkToken" resultType="top.nysxzs.review408.demos.pojo.Token">
        select enScore,sqlScore,pcoScore,isAdmin from user where username=#{username};
    </select>
    <select id="checkRegister" resultType="top.nysxzs.review408.demos.pojo.User">
        select username from user where username=#{username}
    </select>
    <insert id="toRegister">
        insert into user set username=#{username},password=#{password}
    </insert>
    <update id="updateTaskList">
        update sChange set taskList=#{taskList}
    </update>
    <update id="updateTargetId">
        update sChange set targetId=#{targetId}
    </update>

</mapper>
