<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.nysxzs.review408.demos.dao.ReviewDao">
    <select id="getQuestions" resultType="top.nysxzs.review408.demos.pojo.review408">
        select * from review408 where subject=#{subject} and username=#{username}
    </select>
    <select id="getTargetQuestion" resultType="top.nysxzs.review408.demos.pojo.review408">
        select * from review408 where id=#{id} and username=#{username}
    </select>
    <select id="searchByQuery" resultType="top.nysxzs.review408.demos.pojo.review408">
        select * from review408 where subject=#{subject} and question like "%"#{keyword}"%" and username=#{username}
    </select>
    <select id="initData" resultType="top.nysxzs.review408.demos.pojo.ReviewInit">
        select
            (select count(*) from review408 where subject='数据结构' and username=#{username}) as sjjg,
            (select count(*) from review408 where subject='计算机组成原理' and username=#{username}) as jz,
            (select count(*) from review408 where subject='操作系统' and username=#{username}) as czxt,
            (select count(*) from review408 where subject='计算机网络' and username=#{username}) as jw
    </select>
    <update id="updateWrongTimes">
        update review408 set wrongTimes=#{wrongTimes} where id=#{id} and username=#{username}
    </update>
    <update id="updateReview">
        update review408 set subject=#{subject},question=#{question},answer=#{answer},optionType=#{optionType},optionA=#{optionA},optionB=#{optionB},optionC=#{optionC},optionD=#{optionD},explaination=#{explain} where id=#{id} and username=#{username}
    </update>
    <update id="updateReplyStatus">
        update review408
        <set>
            nextReviewTime=#{nextReviewTime},
            isTodayDone=#{isTodayDone},
            <if test="successiveRightDays!=null">
                successiveRightDays=#{successiveRightDays}
            </if>
        </set>
        where id=#{id} and username=#{username}
    </update>
    <insert id="insertReview">
        insert into review408 set subject=#{subject},question=#{question},answer=#{answer},optionType=#{optionType},optionA=#{optionA},optionB=#{optionB},optionC=#{optionC},optionD=#{optionD},explaination=#{explain},username=#{username}
    </insert>
    <select id="getWdQuestions" resultType="top.nysxzs.review408.demos.pojo.WdQuestion">
        select * from wangdao where subject=#{subject}
    </select>
</mapper>
